html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    background-size: 100%;
    padding: 0;
    margin: 0;
    overflow: clip;
    height: 100%;
}

div.header {
    padding: 0;
    background-color: #d4dbe5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

div.header > div.border {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    height: 5px;
    background-color: #f0c079;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div.header > div.title {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

div.header > div.title > a {
    color: black;
}

div.header > div.title > a:hover {
    color: #111;
}

div.header > div.title > a:active {
    color: #333;
}

div.header > div.title > a:visited {
    color: black;
}

div#map {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
    overflow: auto;
    padding: 100px;
}

div#map > table {
    width: max-content;
    height: max-content;
}

div#map > table td {
    border-spacing: 3px;
    width: 15px;
    height: 15px;
    padding: 5px;
}

div#map > table td[coords]::after {
    content: attr(coords);
    pointer-events: none;
    position: absolute;
    padding: 5px;
    background-color: #d4dbe5;
    margin-top: 20px;
    display: none;
    text-align: center;
    width: min-content;
}

div#map > table td[coords]:hover::after {
    display: block;
}

div#map > table td[coords].forest::after {
    content: attr(coords) ' \A Forest';
}

div#map > table td[coords].valley::after {
    content: attr(coords) ' \A Valley';
}

div#map > table td[coords].fields::after {
    content: attr(coords) ' \A Fields';
}

div#map > table td[coords].tavern::after {
    content: attr(coords) ' \A Tavern';
}

div#map > table td[coords].shop::after {
    content: attr(coords) ' \A Shop';
}

div#map > table td[coords].well::after {
    content: attr(coords) ' \A Well';
}

div#map > table td[coords].zero::after {
    content: attr(coords) ' \A Zero';
}

div#map > table td[coords].blue::after {
    border: 1px solid #00f;
    background-color: #aaf;
}

div#map > table td[coords].red::after {
    border: 1px solid #f00;
    background-color: #faa;
}

div#map > table td[coords].white::after {
    border: 1px solid #fff;
    background-color: #eee;
}

div#map > table td[coords].black::after {
    border: 1px solid #888;
    background-color: #aaa;
}

div#map > table td[coords].forbidden::after, div#map > table td[coords].forbidden-hidden::after {
    border: 1px solid #f80;
    background-color: #ff0;
}

div#map > table td.forbidden {
    border: 1px solid #ff0;
}

div#map > table td.forbidden-hidden {
    border: 1px solid #880;
}

div#map > table td.black {
    border: 1px solid #888;
}

div#map > table td.white {
    border: 1px solid #fff;
}

div#map > table td.blue {
    border: 1px solid #00f;
}

div#map > table td.red {
    border: 1px solid #f00;
}

div#map > table td > div {
    width: 100%;
    height: 100%;
}

div#map > table td.valley > div {
    background-color: #222;
}

div#map > table td.forest > div {
    background-color: #060;
}

div#map > table td.fields > div {
    background-color: #880;
}

div#map > table td.zero > div {
    background-color: black;
}

div#map > table td.shop > div {
    background-color: orange;
}

div#map > table td.tavern > div {
    background-color: #a40;
}

div#map > table td.well > div {
    background-color: #f0f;
}